main .columns > div {
  display: flex;
  flex-direction: column;
}

main .columns img {
  width: 100%;
}

main .columns > div > div {
  order: 1;
}

main .columns > div > .columns-img-col {
  order: 0;
}

main .columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  main .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  main .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* dual-column image showcase */
main .columns.columns-2-cols {
  --columns-img-height: 400px;
  --columns-img-gap: 4px;
}

main .columns.columns-2-cols > div {
  gap: var(--columns-img-gap);
}

main .columns.columns-2-cols .columns-img-col img {
  width: 100%;
  height: var(--columns-img-height);
  object-fit: cover;
}

@media (width >= 900px) {
  main .columns.columns-2-cols {
    --columns-img-height: 500px;
  }
}
